<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Welcome</h3>
<div id="form">
    <form action="#" th:action="@{addEmailConfig}" th:object="${emailConfig}"
          method="POST" novalidate="novalidate">
        <table>
            <tr>
                <td>
                    <b>Languages :   </b>
                </td>
                <td>
                    <select th:field="*{language}">
                        <option th:each="language : ${languages}"
                                th:value="${language}"
                                th:text="${language}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Page Size : </b>
                </td>
                <td>
                    Show
                    <select th:field="*{size}">
                        <option th:each="size : ${sizes}"
                                th:value="${size}"
                                th:text="${size}"></option>
                    </select>
                    email per page
                </td>
            </tr>
            <tr>
                <td>
                    <b>Spam Filter : </b>
                </td>
                <td>
                    <input type="checkbox" th:value="true" th:field="*{spam}"/>
                    Enable spams filter
                </td>
            </tr>
            <tr>
                <td>
                    <b>Signature : </b>
                </td>
                <td>
                    <input type="text" th:field="*{signature}"/>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <input type="submit" value="Create"></input>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>