<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Submitted Employee Information</h2>

<table id="customers">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            ContactNumber
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${emailConfig}">
        <td th:text="${row.getLanguage()}"></td>
<!--        <td th:text="${row.getName()}"></td>-->
<!--        <td th:text="${row.getContactNumber()}"></td>-->
    </tr>
    </tbody>

</table>
</body>
</html>