<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Settings</h3>

<table id="customers">
    <thead>
    <tr>
        <th>
            Languages
        </th>
        <th>
            Size Page
        </th>
        <th>
            Spam Filter
        </th>
        <th>
            Signature
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${emailConfig}">
        <td th:text="${row.getLanguage()}"></td>
        <td th:text="${row.getSize()}"></td>
        <td th:text="${row.getSpam()}"></td>
        <td th:text="${row.getSignature()}"></td>
    </tr>
    </tbody>

</table>
</body>
</html>